body {

  padding-top: 5px;
  font-family: sans-serif;

}

.bg-danger{  

  font-weight: bold;
  border: none;

}

.bg-info{  

  font-weight: bold;
  border: none;

}

.add-details{

  padding-left: 15px;

}

.container-fluid{

  padding: 40px 15px;
  text-align: center;

}

#inp {
  text-align: center;
  margin: auto;
}
/* .modal-dialog {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
} */